.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

*.js
*.js.map
!./utils/curlInput.js
cookie*.txt

# jupyter
.ipynb_checkpoints

.idea


# haskell
*.o
*.hi
*dist-newstyle
main

# gleam
*.beam
*.ez
/build
erl_crash.dump
